<!DOCTYPE html>
<html>
<head>
	<title>系统提示</title>
	<include file="Public:css" />
</head>
<body>
<div class="modal fade bs-example-modal-sm" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">系统提示</h4>
      </div>
      <div class="modal-body inf">
      	{$inf}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
</body>
<include file="Public:js" />
<script type="text/javascript">
	$(function(){
		var callback = $("#callback");
	    callback.modal('show');
	})
</script>
</html>